@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}
  
  /* ========================================== */
  /* FOR UNIVERSAL TAG STYLE */
  body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main h1,
  h2,
  h3 {
    color: #fad5fb;
  }

  header {
    display: inline;
  }

  .position-sticky {
    position: sticky!important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.9))!important;
    transition:all 1s;
    /* transform: translateY(-64px); */
  }

  .height-100vh {
    height: 100vh!important;
  }
  
  main {
    padding: 22px 0;
    padding-bottom: 0;
    display: flex;
    gap: 1.5rem;
    /* background-color: #050118; */
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/background_2.jpg);
    background-size: contain;
  }

  #content {
    flex: 4;
    margin: 2rem 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    /* gap: 1rem 2rem; */
  }

  #content .text-link {
    text-decoration: underline;
    color: #ed00c9;
    cursor: pointer;
  }

  #content article p {
    text-indent: 8%;
  }

  .featured-image {
    width: 40%;
    max-height: 400px;
    margin: 20px 0;
    object-fit: contain;
    object-position: center;
  }

  .margin-top-m-13 {
    margin-top: -13px!important;
  }

  .position-fixed {
    position: fixed;
  }
  
  .width-full {
    width: 100%;
  }
  
  /* ========================================== */
  /* END FOR UNIVERSAL TAG STYLE */


  /* ========================================== */
  /* STYLE FOR THE HEADER */
/* Navbar Styling */
#navbar {
  z-index: 12;
}

nav {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  padding: 5px;
  top: 0;
  transition: .5s;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 1rem;
}

nav li {
  list-style-type: none;
  align-items: stretch;
}
nav .menu-items  hr {
  display: none;
}

nav ul li a {
  font-size: 18px;
  color: #ed00c9;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: bold;
  padding: .5rem 2rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}

nav ul li:hover a {
  color: #ffffff;
  background-color: #dd00bc7f;
}

/* Hamburger Menu for Mobile */
.hamburger-lines {
  display: none;
}

.hamburger-lines label {
  cursor: pointer;
}

.line {
  width: 30px!important;
  height: 3px!important;
  background-color: #ed00c9;
  margin: 6px 0;
  transition: 0.4s;
  display: block;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .hamburger-lines .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
}

#menu-toggle:checked + .hamburger-lines .line2 {
  opacity: 0;
}

#menu-toggle:checked + .hamburger-lines .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
}

#menu-toggle:checked ~ .menu-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: Bold;
  align-items: center;
}
/* #menu-toggle:checked ~ nav {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 8));
} */

  .jumbotron {
    font-size: 20px;
    margin-top: -64px;
    padding: 19rem;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.8)), url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border-bottom: 2px solid #e4e4e7; */
    color: #fff;
  }
  .jumbotron h1 {
    margin-bottom: 0;
  }
  .jumbotron p {
    margin-top: 0;
  }
  /* ========================================== */
  /* END STYLE FOR THE HEADER */
  

  /* ========================================== */
  /* STYLE FOR ARTICLE ABOUT */
  #article-about .card {
    /* background-color: #b800d006; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    color: #fff;
    min-height: 35rem;
  }

  #article-about {
    min-height: 45rem;
    display: flex;
    align-items: center;
    padding: 0 4rem;
  }

  
  #article-about h2 {
    padding-top: 0;
    margin-top: 0;
  } 
  /* #article-about .card {
    border-radius: 5px;
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-top: 0!important;
    /* margin-top: 20px; */

  .content-introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #article-about .paragraph {
    width: 60%;
  }
  /* ========================================== */
  /* END STYLE FOR ARTICLE ABOUT */


  /* ========================================== */
  /* STYLE FOR ARTICLE SKILLS */
  #skills {
    min-height: 49.5rem;
    display: flex;
    /* align-items: center; */
    padding: 3.5rem 4rem;
    background-color: #b800d038;
    background: linear-gradient(rgba(29, 11, 25, 0.8),rgba(0, 0, 0, 0.8)), url(../img/background_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #skills .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    padding: 30px;
    margin-top: 10px;
    color: #fff;
    min-height: 40rem;
  }

  #skills .card-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  #skills .card-skills .skills-detail {
    width: calc(33.333% - 20px);
    padding: 1rem 2rem;
    background-color:#7c036aad;
    border-radius: 25px;  
    min-height: 30rem;
  }

  #skills   .featured-image {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
  }
  /* ========================================== */
  /* END STYLE FOR ARTICLE SKILLS */


  /* ========================================== */
  /* STYLE FOR ARTICLE EXPERIENCES */

  #experiences {
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)), url(../img/background_2.jpg);
    min-height: 49.5rem;
    padding: 3.5rem 4rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .experience-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0 10rem;
  }

  .list-experience {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
  }
  .list-experience .container.list-start {
    position: relative;
  }
  .list-experience .container::before  {
    content: "";
    position: absolute;
    left: calc(-4.52rem - 1px);
    top: 3.6rem;
    height: calc(100% - 2.4rem);
    width: 2px;
    background-color: rgba(85, 84, 84, 0.667);
  }

  .list-experience li {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
  }
  .list-experience span {
    position: relative;
    display: block;
    border-radius: 50%;
    height: .8rem;
    width: .8rem;
    background-color: white;
    top: 0.5rem;
    left: -5rem;
    margin-bottom: -.8rem;
  }

  .list-experience a {
    text-decoration: underline;
    color: white;
  }

  .list-experience h5, .list-experience h3 {
    margin: 0;
  }

  .list-experience .detail-experience {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 1.5rem;
  }

  .list-experience .detail-experience img {
    width: 20%;
  }
  

  .experiences-image {
    width: 250px;
    max-height: 400px;
    object-fit: contain;
    object-position: center;
  }

  /* ========================================== */
  /* END STYLE FOR ARTICLE EXPERIENCES */


  /* ========================================== */
  /* STYLE FOR ARTICLE CERTIFICATE */

  .certificate-container {
    /* min-height: 49.5rem; */
    display: flex;
    /* justify-content: center; */
    padding: 3.5rem 4rem;
    overflow: hidden;
    max-width: 60rem;
    margin:auto;
    gap: 6rem;
  }

  #certificate .card-certificate {
    background-color: #2c2b37;
    min-width: 50rem;
    padding: 2rem 2.5rem;
    display: flex;
    /* align-items: center; */
    border-radius: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 20px;
    transition: all ease-in-out 1s;
  }

  #certificate .prev, #certificate .next {
    cursor: pointer;
    position: absolute!important;
    /* top: 50%; */
    width: auto;
    margin-top: 95px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  } */

    /* Position the "next button" to the right */
  #certificate .next {
    right: 17rem;
    border-radius: 3px 0 0 3px;
  }
  #certificate .prev {
    left: 14rem;
    /* border-radius: 3px 0 0 3px; */
  }
  /* On hover, add a black background color with a little bit see-through */
  #certificate .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  #certificate .card-certificate p {
    color: rgb(200, 200, 200);
    text-indent: 0!important;
    margin: 0;
  }

  #certificate .btn-view {
    margin-top: 35px;
    background-color: #dd00bc7f;
    color: rgb(242, 242, 242);
    font-weight: bold;
    padding: 10px 20px;
    width: 15rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
  }

  #certificate .btn-view:hover {
    background-color: #b31a9c7f;
    transition: all .5s;
  }


  /* ========================================== */
  /* END STYLE FOR ARTICLE CERTIFICATE */


  /* ========================================== */
  /* STYLE FOR CONTACT SECTION */

  /* #contact {
    
  } */

  #contact  {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7));
    min-height: 49.5rem;
    padding: 3.5rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-bottom: 0; */
  }

  #contact h2 {
    margin-top:2rem; 
    margin-bottom:5rem;
  }

  #contact .contact-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0 10rem;
  }

  #contact .contact-container .social-media {
    color: white;
    width: 50%;
  }
  #contact .contact-container .social-media ul {
    list-style: none;
  }

  #contact .contact-container .social-media li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  #contact .contact-container .social-media a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.741);
    
  }

  #contact .contact-container .social-media i {
    font-size: 30px;
    width: 40px;
  }


  #contact .contact-container #form-email {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

  #contact input, #contact textarea{
    padding: 1.2rem 1rem ;
  }

  #contact input.name_person, #contact input.email {
    width: 49.5%;
  }

  #contact input.name_person, #contact input.email, #contact input.subject {
    height: 3.5rem;
    border-radius: 10px;
  }

  #contact textarea {
    height: 15rem;
    border-radius: 10px;
  }

  #contact .btn-send-email {
    width: 15rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: #fb26db9b;
    cursor: pointer;
    transition: all .5s;
    color: rgb(242, 242, 242);
    font-weight: bold;
    font-size: 15px;
  }

  #contact .btn-send-email:hover {
    background-color: #fb26db72;
    color: rgba(242, 242, 242, 0.851);
    transition: all .5s;
  }
  
  /* LOADER */
  #contact .spinner {
     width: 26px;
     height: 26px;
     justify-self: center;
     border-radius: 50%;
     background: radial-gradient(farthest-side,#f2f2f2 94%,#0000) top/9px 9px no-repeat,
            conic-gradient(#0000 30%,#f2f2f2);
     mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
     -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
     animation: spinner-c7wet2 1s infinite linear;
  }
  
  @keyframes spinner-c7wet2 {
     100% {
        transform: rotate(1turn);
     }
  }
    


  footer {
    padding: 20px;
    color: white;
    background-color: #9e0087fb;
    text-align: center;
    font-weight: bold;
  }


  
  @media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
    main aside {
      align-self: center;
    }
    #skills .card-skills {

      flex-flow: column nowrap;
    }
    #skills {
      padding: 0;
    }
    #skills .card-skills .skills-detail {
      border-radius: 10px;
      width: 100%;
    }
    
  
    .on-mobile{ 
      background:rgba(0, 0, 0, 0.9)!important; 
      height:100vh;
    }
    nav ul {
      display: none;
      flex-direction: column;
      gap: 0;
    }



    nav ul.menu-items {
      display: none;
    }

    #menu-toggle:checked + .hamburger-lines + .menu-items {
      display: flex;
      flex-direction: column;
      margin-top: 5rem
    }

    nav .menu-items  hr {
      color: #fad5fb;
      display: block;
      width: 100%;
      height: 1px;
      border-radius: 30%;
      margin-top: -20px;
    }


    .hamburger-lines {
      display: block;
    }

    nav ul li a {
      padding: 10px;
      text-align: center;
      width: 100%;
    }

    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 35px;
    }

    /* #experience {
      padding: 3.5rem 2rem;
    } */
    
    .experience-container {
      padding: 0 2rem;
    }
    .list-experience .detail-experience {
      align-items: center;
    } 
    .list-experience .detail-experience img {
      justify-items: center;
      width: 30%;
      height: 30%;
    }

    #contact  {
      /* min-height: 49.5rem; */
      padding: 0 2 rem;
    }

    #contact .contact-container {
      padding: 0 2rem;
      /* padding-bottom: 2rem; */
    }
    #contact .contact-container .social-media {
      color: white;
      width: 100%;
    }

    #contact .contact-container #form-email {
      width: 90%;
    }

    #contact input.name_person {
      margin-bottom: 10px;
    }

    #contact input.name_person, #contact input.email {
      width: 100%;
    }

    #contact .btn-send-email {
      width: 100%;
    }

    #contact h2 {
      margin-top:3rem; 
      /* margin-bottom:5rem; */
    }


  
  }
   
  @media screen and (max-width: 768px) {
    
    .card {
      padding: 20px;
    }
    nav ul {
      justify-content: center;
    }
   
    main aside {
      align-self: stretch;
    }
    main {
      background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/background_3.jpg);
    }
    .jumbotron {
      padding: 60px;
    }
    nav ul li a {
      padding: .5rem .7rem;
      border-radius: 999px;
    }
    .featured-image {
      width: 100%;
      max-height: 270px;
      object-fit: contain;
      object-position: center;
    }
    #article-about{
      padding: 0;
    }
    #article-about .paragraph {
      width: 100%;
    }
    .jumbotron {
      padding: 21rem 0;
    }
    .jumbotron h1 {
      margin-bottom: 0;
      font-size: 33px;
    }
    .jumbotron p {
      margin-top: 0;
      font-size: 13px;
      padding: 2px;
    }
    #experiences {
      padding: 3.5rem 1rem;
    }
    .experience-container {
      padding: 0;
    }
    .list-experience .detail-experience {
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    } 
    .list-experience .detail-experience img {
      justify-items: center;
      
      width: 90%;
      height: 30%;
    }

    .list-experience span {
      left: -3rem;
    }
    .list-experience .container::before  {
      left: calc(-2.52rem - 1px);

    }

    .certificate-container {
      display: flex;
      padding: 3.5rem 1.5rem;
      justify-items: center;
      overflow: hidden;
      gap: 7rem;
    }
  
    #certificate .card-certificate {
      min-width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: all ease-in-out 1s;
    }
  
    #certificate .prev, #certificate .next {
      cursor: pointer;
      position: absolute!important;
      /* top: 50%; */
      width: auto;
      margin-top: 95px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 30px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  
    #certificate .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    #certificate .prev {
      left: 0;
      /* border-radius: 3px 0 0 3px; */
    }

    #contact .contact-container {
      display: flex;
      flex-wrap: wrap;
    }

    #contact  {
      /* min-height: 49.5rem; */
      padding: 0;
    }

    #contact .contact-container {
      padding: 0;
      padding-bottom: 2rem;
    }
    #contact .contact-container .social-media {
      color: white;
      width: 100%;
    }

    #contact .contact-container #form-email {
      width: 90%;
    }

    #contact input.name_person {
      margin-bottom: 10px;
    }

    #contact input.name_person, #contact input.email {
      width: 100%;
    }

    #contact .btn-send-email {
      width: 100%;
    }

    
  }
  